In [2]:
# 5.3 Summarizing and Computing Descriptive Statistics


import numpy as np
import pandas as pd
#from pandas import Series, DataFrame

In [6]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])

print(df)
print('---')
print(df.sum())

print('---')
print(df.sum(axis=0))  # same , 
# vs
print('---')
print(df.sum(axis='columns'))    #same as print(df.sum(axis=1))
print('---')
print(df.sum(axis=1))

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
---
one    9.25
two   -5.80
dtype: float64
---
one    9.25
two   -5.80
dtype: float64
---
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64
---
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [8]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [7]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [9]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [10]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [ ]:
 Correlation and Covariance (相关性和协方差)
假设DataFrame时股价和股票数量。
这些数据取自yahoo finace，用padas-datareader包能加载。

In [11]:
conda install pandas-datareader

Collecting package metadata: ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\anaco

  added / updated specs:
    - pandas-datareader


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.6.14               |           py37_0         2.1 MB
    pandas-datareader-0.7.0    |           py37_0         141 KB
    ------------------------------------------------------------
                                           Total:         2.3 MB

The following NEW packages will be INSTALLED:

  pandas-datareader  pkgs/main/win-64::pandas-datareader-0.7.0-py37_0

The following packages will be UPDATED:

  conda                                       4.6.11-py37_0 --> 4.6.14-py37_0



Downloading and Extracting Packages

pandas-datareader-0. | 141 KB    |            |   0%
pandas-datareader-0. | 141 KB    | ######7    |  68%
pandas-datareader-0. | 141 KB    | ########## | 100%

conda-4.6.14         | 2.1 MB    |            |   0%
conda-4.6.14         | 2.1 MB    | 8          |   8%
conda-4.6.14         | 2.1 MB    | #8         |  19%
conda-4.6.14         | 2.1 MB    | ##8        |  29%
conda-4.6.14         | 2.1 MB    | ####       |  40%
conda-4.6.14         | 2.1 MB    | #####1     |  51%
conda-4.6.14         | 2.1 MB    | ######2    |  62%
conda-4.6.14         | 2.1 MB    | #######3   |  73%
conda-4.6.14         | 2.1 MB    | ########3  |  83%
conda-4.6.14         | 2.1 MB    | #########1 |  92%
conda-4.6.14         | 2.1 MB    | #########9 | 100%
conda-4.6.14         | 2.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

C:\Users\Yu Zhang\1_Python_DataAnalysis\Textbook_by_WesMcKinney>ET _sysp=%~dpA

C:\Users\Yu Zhang\1_Python_DataAnalysis\Textbook_by_WesMcKinney>IF NOT EXIST "!_sysp!\Scripts\conda.exe"
Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

WARNING: The conda.compat module is deprecated and will be removed in a future release.
'ET' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
import pandas_datareader.data as web

In [18]:
price = pd.read_pickle('yahoo_price.pkl')
volume = pd.read_pickle('yahoo_volume.pkl')

print(price.head())
print(volume.head())

                 AAPL        GOOG         IBM       MSFT
Date
2010-01-04  27.990226  313.062468  113.304536  25.884104
2010-01-05  28.038618  311.683844  111.935822  25.892466
2010-01-06  27.592626  303.826685  111.208683  25.733566
2010-01-07  27.541619  296.753749  110.823732  25.465944
2010-01-08  27.724725  300.709808  111.935822  25.641571
                 AAPL      GOOG      IBM      MSFT
Date
2010-01-04  123432400   3927000  6155300  38409100
2010-01-05  150476200   6031900  6841400  49749600
2010-01-06  138040000   7987100  5605300  58182400
2010-01-07  119282800  12876600  5840600  50559700
2010-01-08  111902700   9483900  4197200  51197400

In [19]:
returns = price.pct_change()  #pct_change(): 计算同colnums两个相邻的数字之间的变化率
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2016-10-17 -0.000680  0.001837  0.002072 -0.003483
2016-10-18 -0.000681  0.019616 -0.026168  0.007690
2016-10-19 -0.002979  0.007846  0.003583 -0.002255
2016-10-20 -0.000512 -0.005652  0.001719 -0.004867
2016-10-21 -0.003930  0.003011 -0.012474  0.042096

In [20]:
returns['MSFT'].corr(returns['IBM'])

0.4997636114415114

In [21]:
returns['MSFT'].cov(returns['IBM'])

8.870655479703546e-05

In [22]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.407919  0.386817  0.389695
GOOG  0.407919  1.000000  0.405099  0.465919
IBM   0.386817  0.405099  1.000000  0.499764
MSFT  0.389695  0.465919  0.499764  1.000000

In [23]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000277  0.000107  0.000078  0.000095
GOOG  0.000107  0.000251  0.000078  0.000108
IBM   0.000078  0.000078  0.000146  0.000089
MSFT  0.000095  0.000108  0.000089  0.000215

In [24]:
returns.corrwith(returns.IBM)

AAPL    0.386817
GOOG    0.405099
IBM     1.000000
MSFT    0.499764
dtype: float64

In [ ]:
Unique Values, Value Counts, and Membership

In [26]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

uniq = obj.unique()
uniq

array(['c', 'a', 'd', 'b'], dtype=object)

In [27]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [30]:
print(obj)
mask = obj.isin(['b', 'c'])

print(mask)
obj[mask]

to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])

pd.Index(unique_vals).get_indexer(to_match)

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object
0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [31]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4