In [1]:
# Ch04 - loop

# Program 4-1
flag = 'y'
count = 0;
total = 0;

while flag != 'n':
    count = int(input('Enter a number: \n'))
    total += count
    flag = input('Continue loopï¼Ÿ: y for yes, n for n:')

print('total= ', total)

Enter a number:
1
Continue loop: y for yes, n for n:y
Enter a number:
2
Continue loop: y for yes, n for n:y
Enter a number:
3
Continue loop: y for yes, n for n:n
total=  6

In [6]:
# while loop
#----------------------
count = 10

while count > 0:
    print ('count:', count)
    count = count-2

count: 10
count: 8
count: 6
count: 4
count: 2

In [7]:
count = 0

while count <= 20:
    print ('count: ', count)
    count = count + 5

count:  0
count:  5
count:  10
count:  15
count:  20

In [8]:
# use in [ n,  ,  , ]

for num in [1,3,5]:
    print('loop' , num, end=' ')

loop 1 loop 3 loop 5

In [9]:
for num in [1,3,5]:
    print('loop' , num)

loop 1
loop 3
loop 5

In [10]:
for name in ['CI101', 'CI213','CI215','CI245']:
    print(name)

CI101
CI213
CI215
CI245

In [11]:
# range(n) :  0 to n-1

for num in range(5):
    print(num,end='\t ')

0	 1	 2	 3	 4

In [14]:
NUM = 10
for num in range(1, NUM+1):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [16]:
NUM = 10
for num in range(1, NUM+1,2):
    print(num, end ='\t')

1	3	5	7	9

In [19]:
for num in range(0,100,10):
     print(num,end='\t')
print('\n----------------------')    
for num in range(0,101,10):
     print(num,end='\t')

0	10	20	30	40	50	60	70	80	90
----------------------
0	10	20	30	40	50	60	70	80	90	100

In [20]:
for num in range(0,20,5):
     print(num,'\t',num**2)

0 	 0
5 	 25
10 	 100
15 	 225

In [35]:
for num in range(20,0,-5):
     print(num,'\t')

20
15
10
5

In [21]:
#Program 4-9
START = 30
END = 131
CONV = 0.6

for kph in range(START,END,10):
    mph = kph*CONV
    print(kph, '\t', format(mph,'.1f'))

30 	 18.0
40 	 24.0
50 	 30.0
60 	 36.0
70 	 42.0
80 	 48.0
90 	 54.0
100 	 60.0
110 	 66.0
120 	 72.0
130 	 78.0

In [28]:
# Nested loop
for row in range(5):
    for col in range(3):
        print (row, end=' ')
    print()

0 0 0
1 1 1
2 2 2
3 3 3
4 4 4

In [29]:
for row in range(5):
    for col in range(3):
        print (col, end=' ')
    print()

0 1 2
0 1 2
0 1 2
0 1 2
0 1 2

In [30]:
print('\n----------------------')
for row in range(1,3):     # how many rows? 1,2
    for col in range(1,5):       # 1,2,3,4
        print (col*row, end=' ')
    print()                          #use indentation for outer loop

----------------------
1 2 3 4
2 4 6 8

In [ ]:
#vs.
print('\n----------------------')
for row in range(1,3):
    for col in range(1,5):
        print (col*row, end=' ')
        print()                     # inner loop