In [5]:
# 4/28/2019
# Chapter 2

# use single '' vs. " "

print('Start Python')

Start Python

In [4]:
print("Learn Data Analysis")

Learn Data Analysis

In [6]:
print("Don't be fear!")
print("I'm here!")
#print('I'm here!')  # <- Error

Don't be fear!
I'm here!

In [9]:
#print("Please "come" here!")   # <- Error
print('Please "come" here!')    # Correct

Please "come" here!

In [10]:
# Program 2-5
# variables

width = 5
length = 10
print("width = ", width, "; Length = ", length)

width =  5 ; Length =  10

In [11]:
# Program 2-10 : show values of variables
dollars = 2.5
print("I have ", dollars, " in my account")
dollars = 10
print("I have ", dollars, " in my account now")

I have  2.5  in my account
I have  10  in my account now

In [12]:
# In python, variables' type can change
dollars = 10
print(type(dollars))
dollars = 12.5
print(type(dollars))
print("I have ", dollars, " in my account now")

<class 'int'>
<class 'float'>
I have  12.5  in my account now

In [13]:
# Program 2-11
# Use String variables
first_name ="Julie"
last_name = "Zhang"
print(last_name, ",",    first_name)

Zhang , Julie

In [14]:
# Page 48, different types
x = 5
print(type(x))
print(x)
x = "Test"
print(type(x))
print(x)

<class 'int'>
5
<class 'str'>
Test

In [16]:
# 2.6 Read input
# Program 2-12 and 2-13
# input() return a string, need to convert to int or float

name = input('Input customer name: ')
number = int(input('Input ticket number: '))
rate = float(input('Input the price: '))
print('Customer Name =' , name )
print('Total Cost = $' , number*rate)

Input customer name: Joe
Input ticket number: 3
Input the price: 10
Customer Name = Joe
Total Cost = $ 30.0

In [17]:
# 2.7 Calculation 
# python operator:  +   -   *    /    
# //   %   **
print( 12 + 5)
print( 12 * 5 )

17
60

In [20]:
print( 12 / 5 )  # 2.4
print( 12 // 5)   # 
print( 14 % 5 )
print( 3 ** 3)

2.4
2
4
27

In [22]:
# Operator Precedence
print( 2*3 + 8/2**3 -1 )  # = 6 + 8/8 - 1 = 6

6.0

In [24]:
# Program 2-17
# Test use:  //  and % (remainder)
total_seconds = int(input('Enter seconds '))

hours = total_seconds // 3600
minutes = (total_seconds - hours*3600 ) // 60
seconds = total_seconds % 60

print("hours:",hours )
print("minutes", minutes)
print("seconds", seconds)

Enter seconds 190
hours: 0
minutes 3
seconds 10

In [26]:
# Multiple lines, use \
print('Hello', \
      'World')

Hello
World

In [33]:
# Error
x = 10 + 
    20 
print(x)

SyntaxError: invalid syntax (<ipython-input-33-7596832711b2>, line 2)

In [34]:
# Correct
x = 10 + \
    20  
print(x)

30

In [35]:
# 2.8 More about output
print('1----------')
print('one')
print('two')
print('three')

1----------
one
two
three

In [36]:
# Use end = ''
print('2----------')
print('one',end=' ')
print('two',end=' ')
print('three')

2----------
one two three

In [37]:
print('3----------')
print('one',end='')
print('two',end='')
print('three')

3----------
onetwothree

In [38]:
print('4----------')
print('one', 'two',  'three')

4----------
one two three

In [40]:
print('5----------')
print('one', 'two',  'three', sep='***')

5----------
one***two***three

In [41]:
# Use other seperator

print('6----------')
print('one', 'two',  'three', sep='*')

print('7----------')
print('one', 'two',  'three', sep='~~~')

6----------
one*two*three
7----------
one~~~two~~~three

In [43]:
# Page 67
# Escape Characters  
# \n : new line
# \t :
# \' \" \\
print('Monday\nTuesday');
print('Monday\tTuesday');
print('Monday\'s class');
print('Monday\'s \"class\"')

Monday
Tuesday
Monday	Tuesday
Monday's class
Monday's "class"

In [44]:
#
print('Monday\'s "class"')

# Use  \\
print('C:\\CI245\\ClassDemo')

Monday's "class"
C:\CI245\ClassDemo

In [45]:
# Display with + operator

print('Monday', 'Tuesday');
print('Monday' + 'Tuesday');
print('Monday ' + 'Tuesday');

Monday Tuesday
MondayTuesday
Monday Tuesday

In [47]:
income = 42000
# Error
print('Income:' + 12000)
print('Income:' + income)

TypeError: can only concatenate str (not "int") to str

In [48]:
income = 42000

# Correct
print('Income: $' + str(income))
print('Income: $' + str(12000))

Income: $42000
Income: $12000

In [49]:
# Formating

x = 123.456
print(format(x, '.2f'))  
print(format(x, '.1f'))  
print(format(x, '.0f'))

123.46
123.5
123

In [50]:
#inserting comma separator
print('\n----------')
x = 1234.56
print(format(x, ',.2f'))  # show 12,345.68
print(format(x, ',.1f'))  # show 123.5
print(format(x, ',.0f'))  # show 123

----------
1,234.56
1,234.6
1,235

In [52]:
# percentage
x = 0.1234
print(format(x, '%'))
print(format(x, '.0%'))
print(format(x, '.1%'))
print(format(x, '.2%'))
print(format(x, '.3%'))

12.340000%
12%
12.3%
12.34%
12.340%

In [53]:
# integer
x = 12345
print(format(x, 'd'))
print(format(x, '10d'))
print(format(x, '10,d'))
print(format(x, '9d'))
print(format(x, '8d'))
print(format(x, '7d'))
print(format(x, '6d'))

12345
     12345
    12,345
    12345
   12345
  12345
 12345